---
import ThemeToggle from "./ThemeToggle.astro";
---

<nav class="fixed top-6 right-6 z-50">
  <div
    class="flex items-center p-2 rounded-full border border-primary/10 bg-background/60 backdrop-blur-xl shadow-2xl shadow-accent/5"
  >
    <!-- Theme Toggle -->
    <div class="px-2">
      <ThemeToggle />
    </div>
  </div>
</nav>
